@{
    ViewBag.Title = "About";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <meta charset="UTF-8">
</head>

<div style="margin-top:50px;">
    <p class="txtTitleBox">Over WeParticipate</p>
</div>

<div class="row">
    <p style="font-size:20px;color:black;margin-left:10%;margin-right:10%;">
        WeParticipate is een applicatie ontwikkeld om hulpbehoevenden en vrijwilligers in de regio Eindhoven met elkaar in contact te brengen.
        <br /><br />
        In deze applicatie kunt u als hulpbehoevende een hulpvraag plaatsen waar onze vrijwilligers dan op kunnen reageren.
        <br /><br />
        Als vrijwilliger kunt u zoeken tussen de verschillende hulpverzoeken en reageren op een verzoek waar u denkt te kunnen helpen.
        <br /><br />
        Voor vragen en/of opmerkingen kunt u terecht op de contactpagina van deze applicatie
    </p>
</div>