@{
    ViewBag.Title = "Contact";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <meta charset="UTF-8">
</head>

<div style="margin-top: 50px;">
    <p class="txtTitleBox" style="">Contact</p><br />
</div>

<div class="row" style="text-align: center;">
    
    <address>
        WeParticipate<br />
        Eindhoven, Rachelsmolen 1
    </address>

    <p>
        Heeft u hulp nodig met het gebruiken van de applicatie of heeft u hulpvolle feedback hoe wij de applicatie voor u kunnen verbeteren? <br />
        Aarzel niet en stuur ons een email!
    </p>

    <address>
        <strong>Voor ondersteuning:</strong>   <a href="mailto:Support@example.com">ondersteuning@example.com</a><br />
    </address>
</div>